#module-filter-modules table {
  border-top: none;
  border-right: none;
  border-left: none;
}
tr.admin-package-title,
tr.admin-package-title td {
  border: none !important;
  border-top: 1px solid #BEBFB9 !important;
  background-color: transparent !important;
  padding: 10px 0 0;
}
tr.admin-package-title.first,
tr.admin-package-title.first td {
  border-top: none !important;
}
tr.admin-package-header td {
  border: 1px solid #BEBFB9;
  text-transform: uppercase;
  background: #E1E2DC;
  font-weight: normal;
  padding: 3px 10px;
}
.admin-version {
  white-space: nowrap;
}
.admin-operations li {
  float: right;
}
