#module-filter-tabs {
  width: 240px;
  list-style: none;
  list-style-image: none;
  border-top: 1px solid #ccc;
  border-right: 1px solid #ccc;
  margin: 0;
  padding: 0;
  float: left;
  line-height: 1;
}
#module-filter-tabs li {
  background: #eee;
  border: 1px solid #ccc;
  border-top: 0;
  border-right: 0;
  padding: 0;
  margin: 0;
  min-width: 0;
}
#module-filter-tabs li.suggest {
  background: #F9F9F9;
}
#module-filter-tabs li a {
  display: block;
  text-decoration: none;
  padding: 10px;
}
#module-filter-tabs li a span.visual-aid {
  font-size: 8px;
/*  float: right;*/
}
#module-filter-tabs li span.visual-aid {
  font-weight: bold;
}
#module-filter-tabs li a span.enabling {
  color: green;
}
#module-filter-tabs li a span.disabling {
  color: red;
}
#module-filter-tabs li strong {
  font-size: 0.923em;
}
#module-filter-tabs li a:hover,
#module-filter-tabs li a:focus {
  outline: 1px dotted;
  background: #d5d5d5;
  text-decoration: none;
  outline: 0;
}
#module-filter-tabs li.selected a,
#module-filter-tabs li.selected a:hover,
#module-filter-tabs li.selected a:focus,
#module-filter-tabs li.selected a:active {
  background-color: #fff;
  border-right-width: 0;
  margin-right: -1px;
}
#module-filter-tabs li .summary {
  display: block;
  margin-bottom: 0;
  color: #666;
  font-size: 0.846em;
  padding-top: 0.4em;
}
#module-filter-tabs li .summary .count {
  display: none;
}
#module-filter-tabs li.selected .summary .count {
  display: block;
}
html.js #module-filter-submit {
  float: left;
  clear: both;
  background-color: #F6F6F6;
  width: 239px;
  border: 1px solid #ccc;
  border-top: 0;
}
html.js #module-filter-submit .form-actions {
  text-align: center;
  margin: 0;
}
html.js #module-filter-submit input {
  margin: 2em 0 1em;
}
html.js #module-filter-submit.fixed {
  position: fixed;
  border-top: 1px solid #ccc;
}
html.js #module-filter-submit.fixed-top {
  top: 0;
}
html.js #module-filter-submit.fixed-bottom {
  bottom: 0;
}
html.js #module-filter-modules {
  margin-left: 240px;
  border: 1px solid #ccc;
}
html.js .module-filter-inputs-wrapper {
  text-align: center;
}
html.js .module-filter-inputs-wrapper .form-item {
  margin: 0;
  padding: 9px;
}
html.js .module-filter-inputs-wrapper label {
  display: inline;
}
html.js #module-filter-show-wrapper {
  margin-bottom: 1em;
}
#module-filter-modules table {
  border-top: none;
  border-right: none;
  border-left: none;
}
html.js #module-filter-modules table {
  margin: 0;
  border-bottom: none;
}
html.js #module-filter-modules table tr,
html.js #module-filter-modules table td {
  border-left: 0;
  border-right: 0;
}
#module-filter-modules table thead {
  display: none;
}
#module-filter-modules table tr.admin-package-title,
#module-filter-modules table tr.admin-package-title td {
  border: none !important;
  border-top: 1px solid #ccc !important;
  background-color: transparent !important;
  padding: 10px 0 0;
}
#module-filter-modules table tr.admin-package-title.first,
#module-filter-modules table tr.admin-package-title.first td {
  border-top: none !important;
}
#module-filter-modules table tr.admin-package-header td {
  border: 1px solid #ccc;
  text-transform: uppercase;
  background: #E1E2DC;
  font-weight: normal;
  padding: 3px 10px;
}
#module-filter-modules table tr.enabling {
  background-color: #dfd;
}
#module-filter-modules table tr.disabling {
  background-color: #fcc;
}
.admin-version {
  white-space: nowrap;
}
.admin-operations li {
  float: right;
}
